
<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
<div id="left-pane">
	<h3>My Dinner</h3>
	<label for="guest-number">People</label>
	<input id="guestNumber" type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
	<table class="table table-hover">
		<thead>
		<tr>
			<td>Portions</td>
			<td>Dish Name</td>
			<td>Cost</td>
		</tr>
		</thead>
		<tbody >
			<tr ng-repeat="dish in menuDishes" ng-click="go('/dish/' + dish.RecipeID)" >
				<td>{{getDishPortions(dish)}}</td>
				<td>{{dish.Title}}</td>
				<td>{{getPrice(dish)}}</td>			
				<td><div class='trdiv'>
						<button type='button'  id= "trol" ng-click="removeDish(dish.RecipeID)" class='btn btn-danger btn-circle'><i class='glyphicon glyphicon-remove'></i></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<p id="total-cost">SEK {{getTotalMenuPrice()}}</p>
	<a id="confirm-button-sidebar" class="btn btn-primary" ng-href="#/overview">Confirm Dinner</a>
</div>
