<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl" class="col-xs-4 col-sm-4 col-lg-2"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
 <div ng-show="status == 'searching'"> <span us-spinner></span></div>

        <div ng-show="status == 'failure'" class="alert alert-warning" role="alert">Request failed. Make sure your internet connection is working and make another search.</div>

        
<div id="right-pane" class="col-xs-8 col-sm-8 col-lg-10" ng-show="status == 'showing'">
	<div class="row">
		<div class="col-lg-6">
			<h1>{{dish.Title}}</h1>
			<img ng-src="{{dish.ImageURL}}" width="300" height="200"/>
			<p>{{dish.Description}}</p>
			<a href="#/search" class="btn btn-default btn-arrow-left">Back to Select dish</a>
		</div>
		<div id="ingredient-list" class="col-lg-6">
			<h3>Ingredients for {{getNumberOfGuests()}} people</h3>
			<hr>
			<table class="table">
					<tr ng-repeat="ing in ingredients">
						<td>{{ingQuantity(ing)}}</td>
						<td>{{ing.Name}}</td>
						<td>SEK {{ingPrice(ing)}}</td>
					</tr>
			</table>
			<hr>
			<div id="confirmButtonDiv" class="row">
				<a href="#/search" ng-click="addToMenu(dish)" class="col-lg-6 btn btn-primary">Confirm Dish</a>
				<p class="col-lg-6">SEK {{totalIngredientPrice()}}
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Preparation</h1>
      	<p>{{dish.Instructions}}</p>
	</div>
</div>
